.contain {
  position: relative;
  max-width: 60%;
  height: 45rem;
  margin: auto;
  padding-top: 2%;
}

@media screen and (max-width: 480px) {
  .contain {
    max-width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contain {
    max-width: 80%;
  }
}
